* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #eee;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


/* css for main-nav */


/* main navigation */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 23px;
}

.main-nav li {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 29px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    text-decoration: none;
    color: #eee;
    text-transform: uppercase;
    font-size: 100%;
    /*    border-top: 2px solid transparent;*/
    -webkit-transition: boreder-bottom 0.2s;
    transition: border-bottom 0.2s ease;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #a265bb;
}


/* sticky navigation */

.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.93);
    box-shadow: 0px 1px 1px #efefef;
    z-index: 9999;
}

.sticky-nav .main-nav li a:link,
.sticky-nav .main-nav li a:visited {
    padding: 8px 0px;
    text-decoration: none;
    color: #555;
}


/* css for header */

header {
    background: url(../../vendors/images/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header-text {
    position: absolute;
    width: 1140px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-text h1 {
    word-spacing: 15px;
}

.header-text p {
    font-size: 150%;
    font-weight: 200;
    color: #eee;
    margin-bottom: 20px;
}


/* all the heading styles */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #9b59b6;
    content: "";
    width: 130px;
    margin-top: 15px;
}

h3 {
    font-size: 90%;
    margin-bottom: 15px;
    color: #111;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0px;
}

.about h2,
p {
    color: #111;
}

.about img {
    border-radius: 150px;
}

.form h2,
p {
    color: #111;
}


/* css for projects */

.projects h2,
h3,
p {
    color: #111;
}

.projects h2:after {
    display: block;
    height: 2px;
    background-color: #9b59b6;
    content: "";
    width: 185px;
    margin-top: 15px;
}

.project-box {
    background-color: #f7f7f7;
}

.contact-form {
    color: #111;
}

.form h2:after {
    display: block;
    height: 2px;
    background-color: #9b59b6;
    content: "";
    width: 239px;
    margin-top: 15px;
}


/* buttons */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #804399;
    border: 1px solid #a265cc;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #a265cc;
    color: #fff;
}

.btn:hover,
.btn:active,
input[type=submit] {
    background-color: #a265cc;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    border: 1px solid #a265bb;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #e67e22;
    color: #fff;
}


/* icons */

.icon-big {
    font-size: 200%;
    display: inline-block;
    color: #a265bb;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 20px;
    padding-right: 40px;
}


/* css for contact-form */

.contact-form {
    width: 60%;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textaread {
    height: 100px;
}

*:focus {
    outline: none;
}


/* css for footer */

footer {
    background-color: #e6e6e6;
}

.footer-icon {
    color: purple;
}

.footer-nav ul {
    list-style: none;
}

.footer-nav li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li a {
    text-decoration: none;
}